#ingredient-container {
  position: fixed;
  left: 0;
  overflow-y: scroll;
  height: 100%;
  min-width: 20%;
  border: 1px solid black;
}

#ingredient-container::-webkit-scrollbar {
  display: none;
}
.titlebar {
  background-color: teal;
  height: 60px;
  width:100%;
  text-align: center;
  font-size: 25px;
  color: white;
  text-decoration-color: thistle;
}
/* .row{
  background-color: teal;
  height: 60px;
  text-align: center;
  font-size: 25px;
  color: white;
  text-decoration-color: thistle;
} */
#navbar {
  margin: 20px;
  padding: 10px;
  /* align-content: center; */
  display: inline-block;
}
#user-list {
  height: 100%;
  width: 100%;
  background-color: grey;
  /* margin: 2px; */
  /* // overflow-y: scroll; */
  display: inline-block;
}
#middle-container {
  widows: 100%;
  height: 50%;
  background-color: pink;
}

.recomTitle{
background-color: aqua
}
.similarTitle{
  background-color: aqua
}

#recomm-recipes-list {
  height: 100%;
  min-width: 40%;
}

.sectionTitle {
  background-color: rgb(243, 243, 162);
  height: 30px;
  font-size: large;
  font-style: normal;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#each-user {
  text-align: justify;
}

#each-recipe {
  background-color: indianred;
  height: 40px;
}

.ingredient {
  border-bottom: 1px solid #dedede;
  padding: 5px;
}

#selected-list,
#ingredients-list {
  border: 1px solid black;
}

.floating-button {
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}

#selected-list > .selected {
  background-color: #66bb6a;
  font-weight: 600;
}

#recipe-container {
  margin-left: 150px;
  padding-top: 10px;
}

.recipe {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto 20px;
  padding: 5px;
}

#ingredient-heading {
  text-align: center;
}
