body {
  width: 100vw;
  height: 100vh;
  /* background-image: url("./images/login.jpg"); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: rgb(241, 227, 214);
}

a{
  color:white;
}

.add-recipe-ingredient{
  background-color:teal;
  margin: 4px;
  padding: 5px;
  width:100px;
  border-radius:4px;
  align-content: center;  
}

img {
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#navbar {
  margin: 20px;
  padding: 10px;
  /* align-content: center; */
  display: inline-block;
}
#user-list {
  height: 100%;
  width: 100%;
  background-color: grey;
  /* margin: 2px; */
  /* // overflow-y: scroll; */
  display: inline-block;
}
#middle-container {
  widows: 100%;
  height: 50%;
  background-color: pink;
}

.recomTitle {
  background-color: aqua;
}
.similarTitle {
  background-color: aqua;
}

#each-user {
  text-align: justify;
}

.register-section {
  display: flex;
  background-color: teal;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  margin: 70px;
}



.home-buttons {
  align-items: center;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.navbar-title {
  background-color: darkcyan;
  color: white;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-align: center;
  font-size: 25px;
}



.btn-secondary{


  background-color: teal;
  /* padding: 1%; */
  margin:2%
}
